<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
    		
        </testsuite>
    </testsuites>
    <filter>
		<blacklist>
		    <directory>./vendor</directory>
            <file>./src/OAuth_io/Injector.php</file>
		</blacklist>
	</filter>
</phpunit>